* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2; }

.container {
  width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -5px 9px 2px #dbdbdb;
  box-shadow: 0 -5px 9px 2px #dbdbdb; }
